In [1]:
import json
import requests
import websocket

In [2]:
import random, time

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('Data.csv')

In [5]:
df.head()

,id,user_id,vehicle_model_id,package_id,travel_type_id,from_area_id,to_area_id,from_city_id,to_city_id,from_date,to_date,online_booking,mobile_site_booking,booking_created,from_lat,from_long,to_lat,to_long,Car_Cancellation
0,132512,22177,28,NaN,2,83.0,448.0,NaN,NaN,1/1/2013 2:00,NaN,0,0,1/1/2013 1:39,12.924150,77.672290,12.927320,77.635750,0
1,132513,21413,12,NaN,2,1010.0,540.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 2:25,12.966910,77.749350,12.927680,77.626640,0
2,132514,22178,12,NaN,2,1301.0,1034.0,NaN,NaN,1/1/2013 3:30,NaN,0,0,1/1/2013 3:08,12.937222,77.626915,13.047926,77.597766,0
3,132515,13034,12,NaN,2,768.0,398.0,NaN,NaN,1/1/2013 5:45,NaN,0,0,1/1/2013 4:39,12.989990,77.553320,12.971430,77.639140,0
4,132517,22180,12,NaN,2,1365.0,849.0,NaN,NaN,1/1/2013 9:00,NaN,0,0,1/1/2013 7:53,12.845653,77.677925,12.954340,77.600720,0

In [6]:
dff = np.array(df)

In [7]:
ws = websocket.WebSocket()
ws.connect('ws://localhost:8000/ws/polData/')

In [8]:
for i in range(700):
    time.sleep(random.uniform(0,0.3))
    r =dff[i]
    ws.send(json.dumps({'ride_id':r[0],'user_id':r[1],'vehicle_id':r[2],'package_id':r[3],'travel_type_id':r[4],'from_area_id':r[5],'to_area_id':r[6],'from_city_id':r[7],'to_city_id':r[8],'from_date':r[9],'to_date':r[10],'online_booking':r[11],'mobile_site_booking':r[12],'booking_created':r[13],'from_lat':r[14],'from_long':r[15],'to_lat':r[16],'to_long':r[17],'Car_Cancellation':r[18]}))
    res = ws.recv_frame()
    if i%50==0:
        print("Acknowledgement received",res," ",i)

Acknowledgement received fin=1 opcode=1 data=b'ACK'   0
Acknowledgement received fin=1 opcode=1 data=b'ACK'   50
Acknowledgement received fin=1 opcode=1 data=b'ACK'   100
Acknowledgement received fin=1 opcode=1 data=b'ACK'   150
Acknowledgement received fin=1 opcode=1 data=b'ACK'   200
Acknowledgement received fin=1 opcode=1 data=b'ACK'   250
Acknowledgement received fin=1 opcode=1 data=b'ACK'   300
Acknowledgement received fin=1 opcode=1 data=b'ACK'   350
Acknowledgement received fin=1 opcode=1 data=b'ACK'   400
Acknowledgement received fin=1 opcode=1 data=b'ACK'   450
Acknowledgement received fin=1 opcode=1 data=b'ACK'   500
Acknowledgement received fin=1 opcode=1 data=b'ACK'   550
Acknowledgement received fin=1 opcode=1 data=b'ACK'   600
Acknowledgement received fin=1 opcode=1 data=b'ACK'   650